{% extends "base.html" %}
{% block container %}

<h1>{{ project }}</h1>
{% if management_access %}
  <!-- Default panel contents -->
<form action="{% url "component_create" project.slug %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {{ component_form.project.as_hidden }}
        <div class="input-group">
            <span class="input-group-addon">New component name:</span>
                {{ component_form.name }}
            </span>
            <span class="input-group-addon">Last child of:</span>
                {{ component_form.parent }}
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-plus"></span> Create
                    </button>
            </span>
        </div><!-- /input-group -->
    </form>
{% endif %}
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>
<table id="components" class="data table table-bordered table-striped">
    <thead>
        <tr>
            <th>Component</th>
            {% for layer in layers %}
            <th>{{ layer }}</th>
            {% endfor %}
            {% if management_access %}
            <th>Options&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            {% endif %}
        </tr>
    </thead>
    <tbody {#class="sortable"#}>
        {% for component in project.components %}
        <tr class="level-{{ component.level }}" data-parent="{{ component.parent.pk }}" data-level="{{ component.level }}" data-pk="{{ component.pk }}" class="data" id="{{ component.anchor }}">
            <td>{{ component }} {{ component.latest_version.tag }}{% if component.has_children %}{% endif %}</td>
            {% for layer in component.layers %}
            <td>
                {% if layer.items %}
                {% with layer.items.0 as current_item %}
                    <div class="btn-group">
                        <a role="button" class="btn btn-sm btn-{% if current_item.up_to_date %}{{ layer.items.0.status.severity }}{% else %}danger{% endif %}" href="{{ layer.items.0.url }}" title="{{ layer.items.0.version.tag }}">
                            {% if current_item.up_to_date %}
                                {{ current_item.status }}
                            {% else %}
                                Out of date
                            {% endif %}
                        </a>
                        {% if management_access %}
                        <a id="dropdownMenu{{ current_item.pk }}" role="button" class="btn btn-sm btn-{% if current_item.up_to_date %}{{ layer.items.0.status.severity }}{% else %}danger{% endif %} dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu{{ current_item.pk }}">
                            <li role="presentation" class="dropdown-header">{{ current_item.version.tag }}</li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ current_item.url }}"><span class="glyphicon glyphicon-eye-open"></span> View item</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "item_add" project.slug component.pk layer.pk %}"><span class="glyphicon glyphicon-plus"></span> Add new version</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">Change status</li>
                            {% for status in statuses %}
                            {% if current_item.up_to_date %}
                            <li{% if status == current_item.status %} class="disabled"{% endif %} role="presentation"><a role="menuitem" tabindex="-1" href="{% url "set_item_status" current_item.pk status.pk %}">{{ status }}</a></li>
                            {% else %}
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "update_version" component.latest_version.pk current_item.pk status.pk %}">{{ status }}</a></li>
                            {% endif %}
                            {% endfor %}
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">Previous versions</li>
                            {% for item in layer.items %}
                            {% if not forloop.first %}
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ item.url }}">{{ item.version.tag }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                {% endwith %}
                {% else %}
                        {% if management_access %}
                <a class="btn btn-sm btn-default" href="{% url "item_add" project.slug component.pk layer.pk %}"><span class="glyphicon glyphicon-plus"></span> Add</a>
                {% endif %}
                {% endif %}
            </td>
            {% endfor %}
            {% if management_access %}
            <td>
                <div class="btn-group">
                <a title="Notepad" class="btn btn-sm btn-default" href="{% url "component_notepad" project.slug component.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a title="Move" class="btn btn-sm btn-default" href="{% url "component_move" project.slug component.pk %}"><span class="glyphicon glyphicon-move"></span></a>
                <a title="Delete" class="btn btn-sm btn-default" href="{% url "component_delete" project.slug component.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="{{ layers|length|add:1 }}">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </td>
        </tr>
    </tbody>
</table>
</div>
<table class="fixed table table-bordered table-striped">
</table>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    {% if management_access %}
    var submit_order = function(){
        data = {}
        $('.sortable tr.data').each(function(index){
            data[$(this).data('pk')] = index;
        });
        $.post("{% url "set_component_order" project.slug %}", JSON.stringify(data), function(data){
            console.log(data);
        }, 'json');
    }
    var timeout = null;
    $( ".sortable" ).sortable({
        items: "tr.data",
        axis: "y",
        forceHelperSize: true,
        forcePlaceholderSize: true,
        stop: function( event, ui ) {
            clearTimeout(timeout);
            timeout = setTimeout(submit_order, 10 * 1000);
        }
    });
    {% endif %}
    $('th, td', 'table.data').each(function () {
        var cell = $(this);
        cell.width(cell.width());
    });

    $('table.data thead').clone().appendTo('table.fixed');
    $('table.fixed').width($('table.data').width());
    $('table.fixed').hide();
    $(window).scroll(function() {
        var elem = $("table.data thead");
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height();

        var hide_fixed = ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
        if(hide_fixed){
            $('table.fixed').hide();
        } else {
            $('table.fixed').show();
        }
    });
});
</script>
<style>
table.fixed {
    position: fixed;
    top: 0;
}
table.fixed th {
    border-bottom-width: 1px !important;
}
table tr {
    background: white;
}
</style>
{% endblock %}
